/* vim: foldmethod=marker
 */
 
 
/* ====== Project Specific Styles ====== */

@font-face {
	src: url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype');
	font-family: 'Oswald'; 
	font-weight: 700;
}


body {
	font-size: 20px;
}

code {
	font-size: 20px;
}

ul {
	list-style-type: none;
	padding-left: 0;
} 

h1, h2 {
	font-family: "Oswald";
}

/* nav */

nav div {
	padding-top: 4px;
	padding-bottom: 4px;
}

.active {
	background-color: #ddd;
}

/* ====== Page Specific Styles ====== */

/* 01-intro {{{1 */
#intro main {
	position: relative;
	height: 100vh;
	background-image: url("../images/browser.jpg");
	background-size: cover;
}

#intro .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.50);
}

#intro #att {
	position: absolute;
	bottom: 10px;
	left: 20px;
}

#intro #banner {
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#intro #banner h1 {
	font-family: 'Oswald';
	font-size: 75px;
	font-weight: 700;
}

#intro .modal {
	position: absolute;
	min-height: 100px;
	min-width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#intro .modal i {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}


/* 02-technologies {{{1 */
#technologies main {
	position: relative;
	height: 100vh;
	background-image: url("../images/road_landscape.jpg");
	background-size: cover;
}



#technologies #banner {
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

#technologies #banner h2 {
	background-color: #111;
	color: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
}
#technologies #banner h3 {
	background-color: #111;
	color: #eee;
	margin-top: 10px;
}
 
#technologies .api {
	float: left;
	background-color: #111;
	color: #eee;
	padding: 15px;
	margin: 15px;
	opacity: 0.8;
}

/* 03-technologies-related.html {{{1 */
#technologies .api.related {
	background-color: #22bb5b;
}

#technologies #banner .related h3 {
	background-color: #22bb5b;
}
 
 
/* 036-lets-go-offline.html {{{1 */

#lets-go-offline .wrapper {
	position: relative;
	height: 100vh;
	background-image: url('https://farm1.static.flickr.com/47/128619313_80708b3c22.jpg');
	background-size: cover;
}

#lets-go-offline h1 {
	font-size: 72px;
	color: white;
}

#lets-go-offline #att {
	position: absolute;
	bottom: 20px;
}
 
 
/* 04-cache-vs-HTTP.html {{{1 */
#cache-v-http h1 {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

#cache-v-http {
	height: 100vh;
	overflow-x: hidden;
}
 
#cache-v-http h2 {
	margin-left: 40px;
}
 
#left {
	position: absolute;
	background-color: #333;
	height: 100vh;
	left: 0;
	width: 80%;
}

#right {
	position: absolute;
	left: 40%;
	width: 100%;
	background-color: #555;
	height: 100vh;
	transform: skewX(-15deg);
}

#right #content {
	transform: skewX(15deg);
}
